.vscode/**
.vscode-test/**
src/**
flask-api/**
node_modules/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
!out/**
python-backend/venv/**
python-backend/__pycache__/**
python-backend/build/**
python-backend/dist/**
python-backend/memory/chroma_db/**
bin/**
**/.env
**/.env.*
